#home {
  background: url('../images/portada.jpg');
  background-size: cover;
}

#baraja {
  background-color: #822F9E;
}

.btn-portada{
    top: 100px;
/*	margin-top: %;*/
	-webkit-border-top-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-bottomright: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
	text-align: left;

  text-decoration:none; 
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}


.btn-portada:hover{
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}






@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 30px #fff,
               0 0 40px #ff00de,
               0 0 70px #ff00de,
               0 0 80px #ff00de,
               0 0 100px #ff00de,
               0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #ff00de,
               0 0 35px #ff00de,
               0 0 40px #ff00de,
               0 0 50px #ff00de,
               0 0 75px #ff00de;
  }
}



/* Set the background image sources */
#00 { background-image: url("../images/00.jpg"); }
#01 { background-image: url("../images/01.jpg"); }
#02 { background-image: url("../images/02.jpg"); }
#03 { background-image: url("../images/03.jpg"); }
#04 { background-image: url("../images/04.jpg"); }
#05 { background-image: url("../images/05.jpg"); }
#06 { background-image: url("../images/06.jpg"); }
#07 { background-image: url("../images/07.jpg"); }
#08 { background-image: url("../images/08.jpg"); }
#09 { background-image: url("../images/09.jpg"); }
#10 { background-image: url("../images/10.jpg"); }
#11 { background-image: url("../images/11.jpg"); }
#12 { background-image: url("../images/12.jpg"); }
#13 { background-image: url("../images/13.jpg"); }
#14 { background-image: url("../images/14.jpg"); }
#15 { background-image: url("../images/15.jpg"); }
#16 { background-image: url("../images/16.jpg"); }
#17 { background-image: url("../images/17.jpg"); }
#18 { background-image: url("../images/18.jpg"); }
#19 { background-image: url("../images/19.jpg"); }
#20 { background-image: url("../images/20.jpg"); }
#21 { background-image: url("../images/21.jpg"); }


#carta-baraja{
    width: 75%;
	margin: 10% auto;

	display:block;
}